# PyCity Schools Analysis

* Your analysis here
---

In [1]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

# File Paths
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data Files into Pandas DataFrames
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset based on school_name
school_data_complete = pd.merge(student_data_df, school_data_df, how="outer", on=["school_name", "school_name"])

# Display the first few rows of the merged DataFrame
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,17871,Blake Martin,M,9,Bailey High School,94,94,7,Government,4976,3124928
1,17872,Kathryn Kane,F,12,Bailey High School,54,79,7,Government,4976,3124928
2,17873,Richard Haas,M,11,Bailey High School,85,87,7,Government,4976,3124928
3,17874,Frank Marsh,M,9,Bailey High School,70,54,7,Government,4976,3124928
4,17875,Charles Goodman Jr.,M,9,Bailey High School,65,99,7,Government,4976,3124928

## Local Government Area Summary

In [2]:
# Calculate the Totals (Schools and Students)
school_count = len(school_data_complete["school_name"].unique())

# Display the number of unique schools
print("Number of schools:", school_count)

student_count = len(school_data_complete["student_name"])

print("Number of students:", student_count)

# Calculate the Total Budget

total_budget = school_data_df["budget"].sum()

print("Total budget", total_budget)

Number of schools: 15
Number of students: 39170
Total budget 24649428

In [3]:
# Calculate average math score
average_maths_score = school_data_complete["maths_score"].mean()

# Calculate average reading score
average_reading_score = school_data_complete["reading_score"].mean()

print("Average Math Score:", average_maths_score)
print("Average Reading Score:", average_reading_score)

Average Math Score: 70.33819249425581
Average Reading Score: 69.98013786060761

In [4]:
# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_maths_reading_count = passing_both_count = school_data_complete[(school_data_complete["maths_score"] >= 50) & (school_data_complete["reading_score"] >= 50)].count()["student_name"]

overall_passing_rate = (passing_both_count / float(student_count)) * 100

print("Passing Math Count:", passing_maths_count)
print("Passing Math Percentage:", passing_maths_percentage)
print("Passing Reading Count:", passing_reading_count)
print("Passing Reading Percentage:", passing_reading_percentage)
print("Passing Both Math and Reading Count:", passing_both_count)
print("Overall Passing Rate:", overall_passing_rate)

Passing Math Count: 33717
Passing Math Percentage: 86.07863160582077
Passing Reading Count: 33070
Passing Reading Percentage: 84.42685728874139
Passing Both Math and Reading Count: 28519
Overall Passing Rate: 72.80827163645647

In [23]:
# Select the columns you need from the original DataFrame and create a new DataFrame with a single row
area_summary_df = pd.DataFrame(columns=["Total Schools", "Total Students", "Total Budget", 
                                       "Average Math Score", "Average Reading Score",
                                       "% Passing Math", "% Passing Reading", "% Overall Passing"])

# Assign the calculated values to the single row
area_summary_df.loc[0] = [school_count, student_count, total_budget, 
                          average_maths_score, average_reading_score,
                      passing_maths_percentage, passing_reading_percentage,overall_passing_rate,]

# Formatting
area_summary_df["Total Students"] = area_summary_df["Total Students"].map("{:,}".format)
area_summary_df["Total Budget"] = area_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the single-row summary DataFrame
area_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15.0,"39,170.0","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

In [ ]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts =

# Calculate the total school budget and per capita spending per school from school_data
per_school_budget =
per_school_capita =

# Calculate the average test scores per school from school_data_complete
per_school_maths =
per_school_reading =

In [ ]:
# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths =
school_passing_reading =

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading =

In [ ]:
#  Calculate the Percentage Pass Rates
per_school_passing_maths =
per_school_passing_reading =
overall_passing_rate =

In [ ]:
# Convert to DataFrame
per_school_summary =

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

## Top Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show top five schools
top_schools =
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort and show bottom five schools
bottom_schools =
bottom_schools.head(5)

## Maths Scores by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores =
year_ten_scores =
year_eleven_scores =
year_twelve_scores =

# Combine series into single DataFrame
maths_scores_by_year =

# Minor data wrangling
maths_scores_by_year.index.name = None

# Display the DataFrame
maths_scores_by_year

## Reading Score by Year

In [ ]:
# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores =
year_ten_scores =
year_eleven_scores =
year_twelve_scores =

# Combine series into single DataFrame
reading_scores_by_year =

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
#  This step can be skipped but its best to make a copy.
school_spending_df = per_school_summary

In [ ]:
# Categorise spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] =
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_maths_scores = per_school_summary.groupby(["School Size"])["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"])["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
type_summary =

# Display results
type_summary